# Read a csv file

In [1]:
import pandas as pd
csv_data = open('DataCleansing.csv','r')
df = pd.read_csv(csv_data, header=0, index_col=None)

In [2]:
add = %pwd

In [4]:
csv_data = open(add + '/DataCleansing.csv', 'r')
df = pd.read_csv(csv_data)

# 기본 데이터 파악

In [5]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000

In [6]:
df.shape

(1500, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
Customer        1500 non-null int64
SSN             1500 non-null object
Birthdate       1500 non-null object
Age             1500 non-null int64
Region          1500 non-null object
CredCardUser    1500 non-null int64
Income          1500 non-null int64
Purchases       1500 non-null int64
AmountSpent     1500 non-null int64
dtypes: int64(6), object(3)
memory usage: 105.5+ KB

In [8]:
df.isnull().sum()

Customer        0
SSN             0
Birthdate       0
Age             0
Region          0
CredCardUser    0
Income          0
Purchases       0
AmountSpent     0
dtype: int64

In [9]:
df.describe()

,Customer,Age,CredCardUser,Income,Purchases,AmountSpent
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,750.500000,45.792000,0.399333,89740.211333,122.901333,1560.954667
std,433.157015,15.226138,0.489925,41302.183117,1088.786866,1244.909343
min,1.000000,-31.000000,0.000000,22.000000,0.000000,0.000000
25%,375.750000,34.000000,0.000000,55450.000000,2.000000,940.000000
50%,750.500000,47.000000,0.000000,90100.000000,3.000000,1460.000000
75%,1125.250000,58.000000,1.000000,124825.000000,4.000000,2020.000000
max,1500.000000,72.000000,1.000000,160000.000000,9999.000000,9999.000000

In [13]:
d = df.groupby('Region')
d.get_group('East')

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000
5,6,443-13-8685,03.24.60,39,East,0,139700,1,550
11,12,503-14-3400,03.21.34,65,East,0,25800,1,560
16,17,267-58-0440,04.05.57,42,East,1,40500,2,950
24,25,977-81-8641,07.03.62,36,East,0,108500,6,3220
26,27,208-24-5411,11.05.45,53,East,0,129100,1,580
29,30,168-38-3752,01.10.51,48,East,0,80500,7,3640
30,31,564-00-1130,06.19.30,68,East,1,151000,5,2460
32,33,508-92-0528,01.23.67,32,East,0,130100,0,0
37,38,267-99-6806,07.08.57,41,East,1,123700,5,2700
38,39,356-51-5288,10.20.47,51,East,0,132300,4,1910
44,45,710-56-1876,05.15.73,25,East,1,145700,1,520
46,47,601-10-4503,12.19.48,50,East,1,9999,2,1020
48,49,539-79-0361,02.23.72,27,East,0,94900,1,520
51,52,318-19-1132,01.25.60,39,East,0,158700,2,980
54,55,183-43-4916,10.22.32,66,East,0,154200,7,3410
60,61,104-36-4033,07.04.43,55,East,0,107800,2,1050
63,64,205-84-3572,05.17.27,71,East,0,50500,1,490
69,70,091-01-0397,09.08.45,53,East,0,143200,5,2520
70,71,472-87-6263,02.01.49,50,East,0,41900,2,960
80,81,717-33-3321,09.03.56,42,East,0,159500,3,1500
82,83,706-95-2886,02.28.68,31,East,0,90700,2,1070
86,87,993-16-6395,01.04.40,59,East,1,132900,2,1050
96,97,670-96-4031,05.29.54,44,East,0,34000,0,0
97,98,141-37-6975,07.28.62,36,East,0,105500,3,1650
99,100,356-92-4512,05.01.67,31,East,0,117300,0,0
109,110,446-98-7404,09.11.76,22,East,1,57000,3,1450
113,114,540-01-0871,08.24.39,59,East,0,101100,2,980
117,118,196-36-5435,01.21.34,65,East,0,87200,3,1590
...,...,...,...,...,...,...,...,...,...
1398,1399,601-79-1123,10.10.67,31,East,1,140500,4,1990
1400,1401,361-76-6773,03.10.47,52,East,0,142200,5,2550
1401,1402,189-90-8895,07.07.46,52,East,1,77800,4,1790
1403,1404,797-11-2848,06.16.57,41,East,0,71400,1,500
1408,1409,528-10-8596,04.06.59,40,East,1,34300,8,4010
1410,1411,947-05-2348,07.19.73,25,East,0,130300,3,1620
1413,1414,202-45-1925,11.21.41,57,East,0,28600,1,550
1416,1417,158-11-2118,03.17.49,50,East,0,71000,4,1990
1419,1420,301-60-6282,12.12.71,27,East,0,97200,1,530
1422,1423,281-71-1245,10.01.40,58,East,0,150900,1,550
1425,1426,482-44-8033,03.16.70,29,East,0,157800,1,480
1426,1427,182-48-9138,05.18.40,58,East,0,105000,9,4450
1430,1431,048-15-1644,04.08.74,25,East,0,100300,2,1130
1432,1433,346-96-9990,11.20.53,45,East,0,66200,3,1460
1435,1436,411-80-3744,09.06.74,24,East,0,84200,3,1410
1441,1442,021-01-9050,12.23.66,32,East,1,137800,3,1630
1443,1444,105-46-6208,06.28.47,51,East,0,82900,3,1520
1444,1445,179-18-9278,02.12.66,33,East,0,157400,4,1910
1446,1447,850-70-1843,03.22.42,57,East,0,101000,2,1030
1457,1458,527-18-0720,11.03.37,61,East,0,82400,2,1010
1458,1459,647-17-8514,05.31.41,57,East,0,74800,4,1890
1460,1461,904-62-9040,12.27.70,28,East,0,79600,5,2320
1464,1465,647-68-7163,05.12.54,44,East,1,68600,3,1660
1471,1472,368-23-0763,04.24.50,48,East,0,126800,1,510
1473,1474,398-78-6899,12.17.74,24,East,1,58700,2,1040
1474,1475,592-76-2035,12.19.58,40,East,0,31000,4,1830
1478,1479,208-32-8324,08.25.56,42,East,0,154100,0,0
1481,1482,825-37-4303,10.24.61,37,East,0,70900,1,510
1484,1485,664-44-3655,01.20.33,66,East,1,117900,6,3310
1486,1487,496-69-6574,08.06.33,65,East,1,111200,1,560

In [19]:
f = d.get_group('East')
f[f['Age'] > 40]
#in East, Age older than 40 only

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000
11,12,503-14-3400,03.21.34,65,East,0,25800,1,560
16,17,267-58-0440,04.05.57,42,East,1,40500,2,950
26,27,208-24-5411,11.05.45,53,East,0,129100,1,580
29,30,168-38-3752,01.10.51,48,East,0,80500,7,3640
30,31,564-00-1130,06.19.30,68,East,1,151000,5,2460
37,38,267-99-6806,07.08.57,41,East,1,123700,5,2700
38,39,356-51-5288,10.20.47,51,East,0,132300,4,1910
46,47,601-10-4503,12.19.48,50,East,1,9999,2,1020
54,55,183-43-4916,10.22.32,66,East,0,154200,7,3410
60,61,104-36-4033,07.04.43,55,East,0,107800,2,1050
63,64,205-84-3572,05.17.27,71,East,0,50500,1,490
69,70,091-01-0397,09.08.45,53,East,0,143200,5,2520
70,71,472-87-6263,02.01.49,50,East,0,41900,2,960
80,81,717-33-3321,09.03.56,42,East,0,159500,3,1500
86,87,993-16-6395,01.04.40,59,East,1,132900,2,1050
96,97,670-96-4031,05.29.54,44,East,0,34000,0,0
113,114,540-01-0871,08.24.39,59,East,0,101100,2,980
117,118,196-36-5435,01.21.34,65,East,0,87200,3,1590
128,129,072-31-6181,12.07.30,68,East,1,30000,7,3430
138,139,387-87-8995,12.29.36,62,East,1,111300,1,510
140,141,679-47-7511,02.24.50,49,East,0,55000,3,1380
141,142,042-87-5011,08.02.47,51,East,1,127500,4,1950
150,151,161-55-1347,04.24.41,57,East,1,65700,4,1970
156,157,381-82-6591,04.03.50,49,East,0,95600,1,490
157,158,401-48-9373,11.05.54,44,East,0,110700,4,2110
164,165,934-95-6742,03.17.42,57,East,1,80600,3,1510
167,168,898-97-1835,08.31.51,47,East,0,67400,2,930
171,172,041-89-5328,02.14.38,61,East,1,102100,1,510
173,174,240-78-9827,01.09.30,69,East,0,29900,2,960
...,...,...,...,...,...,...,...,...,...
1322,1323,771-89-1694,12.07.49,49,East,0,146800,3,1520
1331,1332,722-66-3249,11.18.55,43,East,0,146200,1,530
1333,1334,539-00-7314,01.09.43,56,East,0,54400,2,460
1336,1337,776-56-0643,04.03.32,67,East,0,131600,3,1660
1346,1347,322-29-3597,03.15.42,57,East,1,92700,2,970
1352,1353,219-01-0920,10.31.38,60,East,0,158200,6,2820
1355,1356,801-41-0886,04.15.31,67,East,1,26500,4,2020
1365,1366,124-62-0332,11.14.37,61,East,1,73300,4,2070
1366,1367,540-52-9102,01.05.35,64,East,0,150100,1,550
1372,1373,412-26-7505,06.19.33,65,East,1,144800,2,970
1377,1378,663-90-6531,10.10.30,68,East,0,114800,4,1860
1383,1384,515-35-2144,09.26.45,53,East,1,105400,5,2700
1392,1393,753-08-4314,08.29.40,58,East,1,53700,5,2520
1400,1401,361-76-6773,03.10.47,52,East,0,142200,5,2550
1401,1402,189-90-8895,07.07.46,52,East,1,77800,4,1790
1403,1404,797-11-2848,06.16.57,41,East,0,71400,1,500
1413,1414,202-45-1925,11.21.41,57,East,0,28600,1,550
1416,1417,158-11-2118,03.17.49,50,East,0,71000,4,1990
1422,1423,281-71-1245,10.01.40,58,East,0,150900,1,550
1426,1427,182-48-9138,05.18.40,58,East,0,105000,9,4450
1432,1433,346-96-9990,11.20.53,45,East,0,66200,3,1460
1443,1444,105-46-6208,06.28.47,51,East,0,82900,3,1520
1446,1447,850-70-1843,03.22.42,57,East,0,101000,2,1030
1457,1458,527-18-0720,11.03.37,61,East,0,82400,2,1010
1458,1459,647-17-8514,05.31.41,57,East,0,74800,4,1890
1464,1465,647-68-7163,05.12.54,44,East,1,68600,3,1660
1471,1472,368-23-0763,04.24.50,48,East,0,126800,1,510
1478,1479,208-32-8324,08.25.56,42,East,0,154100,0,0
1484,1485,664-44-3655,01.20.33,66,East,1,117900,6,3310
1486,1487,496-69-6574,08.06.33,65,East,1,111200,1,560

In [ ]:
df[df.duplicated()]

In [25]:
df.sort_index(by='Income')

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
438,439,390-77-9781,06.03.70,28,West,0,22,8,4160
592,593,744-30-0499,05.04.60,38,East,0,25,5,2460
1342,1343,435-02-2521,08.24.42,56,West,1,43,5,2600
924,925,820-65-4438,11.12.32,66,North,0,55,6,2980
1143,1144,211-02-9333,08.13.34,64,North,0,71,9999,9999
459,460,756-41-9393,05.14.71,27,East,0,81,3,1500
406,407,241-86-3823,07.03.59,39,East,1,88,4,2000
832,833,908-76-1846,09.17.60,38,West,0,104,4,1970
232,233,924-59-1581,05.12.31,67,South,0,138,6,2950
50,51,669-39-4544,10.05.33,65,West,0,149,2,1010
815,816,884-27-5089,03.05.62,37,North,1,151,2,900
446,447,856-77-6560,01.06.40,59,South,1,9999,0,0
517,518,378-83-7998,11.02.74,24,West,1,9999,2,940
1234,1235,470-28-5741,07.01.52,46,North,0,9999,1,480
569,570,758-72-4033,11.07.70,28,South,1,9999,3,1520
46,47,601-10-4503,12.19.48,50,East,1,9999,2,1020
795,796,918-32-8454,03.22.54,45,North,0,9999,3,1570
604,605,600-05-9780,07.10.58,40,North,1,9999,0,0
823,824,376-25-7809,11.02.27,-29,North,1,9999,2,1070
526,527,906-06-0341,03.26.52,47,South,0,9999,3,1590
269,270,985-78-7861,08.17.40,58,South,0,9999,2,940
1476,1477,070-93-0068,08.23.52,46,North,1,20000,6,3060
286,287,133-53-5943,09.22.35,63,North,1,20000,9999,9999
1023,1024,911-88-9367,10.14.43,55,North,0,20100,2,890
35,36,071-68-0276,06.04.66,32,North,0,20100,3,1520
851,852,179-09-4170,10.07.63,35,East,0,20100,3,1490
659,660,940-38-8978,12.25.72,26,North,1,20600,1,520
958,959,291-83-3665,08.19.39,59,South,1,20600,5,490
1237,1238,524-94-9288,10.07.30,68,East,1,20900,1,490
1357,1358,862-30-4596,06.16.47,51,North,0,21200,6,2980
...,...,...,...,...,...,...,...,...,...
970,971,194-22-7493,03.18.30,69,West,0,157500,5,2580
1027,1028,183-61-6428,09.16.41,57,West,0,157700,3,1520
1425,1426,482-44-8033,03.16.70,29,East,0,157800,1,480
1449,1450,633-81-0805,01.01.56,43,West,1,157800,7,3410
186,187,970-73-9521,04.28.75,23,North,0,158100,2,900
814,815,558-83-8118,09.11.39,59,South,0,158200,4,1950
1352,1353,219-01-0920,10.31.38,60,East,0,158200,6,2820
279,280,054-58-8104,08.07.63,35,South,0,158300,2,1120
1010,1011,638-10-5414,07.04.68,30,West,0,158600,2,1010
337,338,389-86-3710,08.23.58,40,West,0,158600,3,1600
219,220,148-17-5139,07.12.32,66,West,0,158600,1,560
294,295,076-10-0890,11.12.61,37,West,0,158700,4,2040
51,52,318-19-1132,01.25.60,39,East,0,158700,2,980
162,163,711-72-5796,09.20.36,62,North,0,158700,2,480
650,651,094-00-1258,03.17.52,47,West,1,158900,3,1560
1189,1190,225-41-6714,05.16.48,50,West,1,159000,2,1020
1434,1435,728-37-4208,08.09.69,29,West,1,159100,2,970
1170,1171,967-49-8339,07.07.41,57,North,1,159200,3,1470
102,103,551-20-4111,07.01.46,52,North,1,159300,3,1370
1111,1112,119-23-9048,08.26.67,31,South,0,159300,1,500
92,93,547-29-5276,03.05.43,56,South,1,159400,3,1490
1103,1104,978-40-3597,07.06.36,62,South,0,159500,3,1500
297,298,325-41-2910,05.02.31,67,South,1,159500,1,460
80,81,717-33-3321,09.03.56,42,East,0,159500,3,1500
1083,1084,058-09-1127,03.23.62,37,North,1,159700,3,1530
942,943,051-62-1955,09.03.44,54,West,1,159700,4,1870
680,681,001-05-3748,03.24.36,63,North,0,159700,1,530
293,294,728-06-3395,07.12.66,32,West,0,159800,3,1300
538,539,445-94-4117,02.11.58,41,East,0,160000,3,1550
454,455,308-15-1508,06.14.75,23,North,1,160000,2,1050

# Find duplicated SSNs

In [49]:
df.set_index('SSN').index.get_duplicates()
#set_index function: create new DataFrame using one or more of its columns as index
df2 = df.set_index(['Region', 'CredCardUser'])
df3 = df.groupby(['Region', 'CredCardUser'])
df3

## The number of duplicated SSNs

In [ ]:
SSN = df.SSN.value_counts()
SSN[SSN > 1]

# Show duplicated rows

In [20]:
df[df['SSN']=='680-00-1375']

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740

In [21]:
df[df.duplicated('SSN', keep=False)]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
368,369,283-42-4994,04.16.66,32,South,1,100000,5,2500
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740
617,618,283-42-4994,05.22.66,32,East,0,133200,3,1460

In [ ]:
[df[df['SSN']==elem] for elem in df.set_index('SSN').index.get_duplicates()]

In [ ]:
# 참고 - query 함수 이용
SSN_duplicated = df.set_index('SSN').index.get_duplicates()
df.query('SSN in @SSN_duplicated')

# delete duplicated rows

In [ ]:
df_deleted = df[df.Customer!=464]
df_deleted

In [ ]:
df_no_duplicate = df.drop_duplicates('SSN')
#df_no_duplicate = df.drop_duplicates('SSN', keep=False)
#df.drop_duplicates('SSN', inplace=True)
df_no_duplicate

# Birthday

## Birthdate 타입 변경

In [ ]:
import pandas as pd
csv_data = open('DataCleansing.csv','r')
df = pd.read_csv(csv_data, header=0, index_col=None)

In [ ]:
import datetime as dt
df['Birthdate'] = df['Birthdate'].apply(lambda x: dt.datetime.strptime(x,'%m.%d.%y'))
df.info()

In [ ]:
df

## 잘못된 날짜 조정

In [ ]:
for index in df.index:
    elem = df.ix[index, 'Birthdate']
    if (elem.year>2017):
        df.ix[index, 'Birthdate'] = df.ix[index, 'Birthdate'].replace(year=elem.year-100)
    '''
    df.ix[index, 'Birthdate'] = df.ix[index, 'Birthdate'].replace(
        year=df.ix[index, 'Birthdate'].year-100 if df.ix[index, 'Birthdate'].year>2017 
        else df.ix[index, 'Birthdate'].year)
    '''

In [ ]:
df['Birthdate'] = df['Birthdate'].apply(lambda x: x.replace(year=x.year-100) if (x.year>2017) else x)

In [ ]:
df

## 나이 조정

In [ ]:
df.sort_values('Birthdate')

생년월일 이상치 확인

In [ ]:
Birthdate = df.Birthdate.value_counts()
Birthdate[Birthdate > 1]

나이 이상치 확인

In [ ]:
df[df['Age']<0]

나이 계산 다시

In [ ]:
from datetime import date, timedelta
df['Age'] = df['Birthdate'].apply(lambda x: int((date.today()-x.date())/timedelta(days=365)))
# df['Age']= (date.today() - df['Birthdate']) / timedelta(days=365)

In [ ]:
df

# Region

지역 종류 파악

In [ ]:
df_R = df.copy()

In [ ]:
df_R.Region.value_counts()

같은 지역인데 이름이 다른 경우 조정

In [ ]:
df_R['Region'] = df_R['Region'].apply(lambda x: 'South' if x == ' South' else 'South')
df_R['Region'] = df_R['Region'].apply(lambda x: 'East' if x == ' East' else 'East')
df_R['Region'] = df_R['Region'].apply(lambda x: 'West' if x == ' West' else 'West')
df_R['Region'] = df_R['Region'].apply(lambda x: 'North' if x == ' North' else 'North')

In [ ]:
df_R = df_R.replace({'Region': {' South': 'South', ' East': 'East', ' West': 'West', ' North': 'North'}})

In [ ]:
df_R.Region = df_R.Region.str.strip()

In [ ]:
df_R.Region.value_counts()

# Income

Income 값 분포 확인

In [ ]:
df_income = df.sort_values('Income')
df_income

In [ ]:
df_income.Income.describe()

In [ ]:
df_income.Income = df_income.Income.apply(lambda x: x*1000 if x<200 else x)

In [ ]:
df_income