In [1]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/titanic.csv'
titanic = pd.read_csv(url, index_col='PassengerId')
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Exercise 1

Impute the missing values of the age and Embarked

### Exercise 2

Convert the Sex and Embarked to catogorical features

### Exercise 3

From the set of features ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

*Note, use the created categorical features for Sex and Embarked

Select the features that maximize the accuracy the model using K-Fold cross-validation

In [2]:
y = titanic['Survived']
features = ['Pclass', 'Age', 'Parch', 'Sex_Female', 'Embarked_Q', 'Embarked_S']

In [3]:
import itertools

possible_models = []
for i in range(1,len(features)+1):
    possible_models.extend(list(itertools.combinations(features,i)))

possible_models

[('Pclass',),
 ('Age',),
 ('Parch',),
 ('Sex_Female',),
 ('Embarked_Q',),
 ('Embarked_S',),
 ('Pclass', 'Age'),
 ('Pclass', 'Parch'),
 ('Pclass', 'Sex_Female'),
 ('Pclass', 'Embarked_Q'),
 ('Pclass', 'Embarked_S'),
 ('Age', 'Parch'),
 ('Age', 'Sex_Female'),
 ('Age', 'Embarked_Q'),
 ('Age', 'Embarked_S'),
 ('Parch', 'Sex_Female'),
 ('Parch', 'Embarked_Q'),
 ('Parch', 'Embarked_S'),
 ('Sex_Female', 'Embarked_Q'),
 ('Sex_Female', 'Embarked_S'),
 ('Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Age', 'Parch'),
 ('Pclass', 'Age', 'Sex_Female'),
 ('Pclass', 'Age', 'Embarked_Q'),
 ('Pclass', 'Age', 'Embarked_S'),
 ('Pclass', 'Parch', 'Sex_Female'),
 ('Pclass', 'Parch', 'Embarked_Q'),
 ('Pclass', 'Parch', 'Embarked_S'),
 ('Pclass', 'Sex_Female', 'Embarked_Q'),
 ('Pclass', 'Sex_Female', 'Embarked_S'),
 ('Pclass', 'Embarked_Q', 'Embarked_S'),
 ('Age', 'Parch', 'Sex_Female'),
 ('Age', 'Parch', 'Embarked_Q'),
 ('Age', 'Parch', 'Embarked_S'),
 ('Age', 'Sex_Female', 'Embarked_Q'),
 ('Age', 'Sex_Female', 'Embarked_S'),
 ('Age', 'Embarked_Q', 'Embarked_S'),
 ('Parch', 'Sex_Female', 'Embarked_Q'),
 ('Parch', 'Sex_Female', 'Embarked_S'),
 ('Parch', 'Embarked_Q', 'Embarked_S'),
 ('Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Age', 'Parch', 'Sex_Female'),
 ('Pclass', 'Age', 'Parch', 'Embarked_Q'),
 ('Pclass', 'Age', 'Parch', 'Embarked_S'),
 ('Pclass', 'Age', 'Sex_Female', 'Embarked_Q'),
 ('Pclass', 'Age', 'Sex_Female', 'Embarked_S'),
 ('Pclass', 'Age', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Parch', 'Sex_Female', 'Embarked_Q'),
 ('Pclass', 'Parch', 'Sex_Female', 'Embarked_S'),
 ('Pclass', 'Parch', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Age', 'Parch', 'Sex_Female', 'Embarked_Q'),
 ('Age', 'Parch', 'Sex_Female', 'Embarked_S'),
 ('Age', 'Parch', 'Embarked_Q', 'Embarked_S'),
 ('Age', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Parch', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Age', 'Parch', 'Sex_Female', 'Embarked_Q'),
 ('Pclass', 'Age', 'Parch', 'Sex_Female', 'Embarked_S'),
 ('Pclass', 'Age', 'Parch', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Age', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Parch', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Age', 'Parch', 'Sex_Female', 'Embarked_Q', 'Embarked_S'),
 ('Pclass', 'Age', 'Parch', 'Sex_Female', 'Embarked_Q', 'Embarked_S')]

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
logreg = LogisticRegression(C=1e9)

# Todo